{% extends 'index/basic.html' %} {% load static %} {% block content %}

<h1>Shallow parsing</h1>
<p>Shallow parsing</p>

<div class="model_wrap">
    <p>Model</p>
    <select name="model_wrap" id="model_wrap">
                    <option value="Shallow parsing">Shallow parsing</option>
                </select>
</div>

<div class="funtctionbtn">
    <div class="Demobtn">Demo</div>
    <div class="Usagebtn">Download Program</div>
</div>
<div class="Demowrap">

    <!-- <div class="titlewrap">
                    <p>Vocabulary</p>
                    <input id="originbox" class="" type="text" placeholder='E.g. "apple"'>
                </div> -->
    <div class="ETOwrap">
        <p>Enter test or</p>
        <!-- <form class="ETOform" action=""> -->
        <select name="demoselect" id="demoselect">
                          <option value="Please select a sample sentence">Please select a sample sentence</option>
                        </select>
    </div>
    <div class="ETOwrap">
        <p>Direction</p>
        <select name="direction_select" id="direction_select">
                        <option value="horizontal">horizontal</option>
                        <option value="straight">straight</option>
                      </select>
    </div>

    <div class="titlewrap">
        <p>Sentence</p>
        <input id="originbox" class="" type="text" placeholder='E.g. "John likes and Bill hates ice cream."'>
    </div>

    <button onclick="spaCy_extractNounChunk()" class="run-btn">Run</button>
    <div class="clear"></div>
</div>
<div class="Usagewrap">

</div>
<div class="runwrap">
    <table id="spaCy_tokenization_table"></table>
</div>
{% endblock %}